@model PostSample.Models.Post
@using PostSample.Helpers
@if (Model != null)
{
    <li id="post-@Model.PostId" class="post-item">
        <div class="post-container block-inline">
            <div class="post-img">
                <img src="../../Content/images/profile.png" class="poster-image" alt="image" />
            </div>
            <div class="post-content-body">
                <div class="content">
                    <div class="block-list">
                        <a class="user-name links" href="#">@Model.User.FullName</a>
                    </div>
                    <div class="block-list word-break">
                        <div class="event-content">
                            <div class="post-event-img">
                                <span class="block-list event-month">@Model.EventPost.EventDateTime.ToString("MMM")</span><span
                                    class="block-list event-date">@Model.EventPost.EventDateTime.ToString("dd")</span>
                            </div>
                            <div class="block-list word-break event-datails">
                                <span class="block-list word-break event-text">@Model.Content</span> <span class="block-list word-break event-time">@Model.EventPost.EventDateTime.ToString("F")</span>
                                <span class="block-list word-break event-duration">@Model.EventPost.EventDuration</span>
                                <span class="block-list word-break event-venue">@Model.EventPost.EventVenue</span>
                                <span class="block-list word-break event-note">@Model.EventPost.EventNote</span>
                            </div>
                        </div>
                        <div class="block-list word-break event-attend">
                            <span class="block-list word-break event-attend-text">You haven't responded yet. <a
                                class="links" onclick="EventAttend(@Model.PostId, @Model.EventPostId)">RSVP</a>
                            </span>
                        </div>
                        <div id="eventAttan-@Model.EventPostId" title="@Model.Content">
                        </div>
                    </div>
                </div>
                <div class="content">
                    <span class="content-time">@Model.CreatedDate.ToString("dd MMMM, yyyy") at @Model.CreatedDate.ToString("hh:mm tt")</span><span
                        class="content-links"><span class="content-action"> <span><a class="links" onclick="CommentLinkFocus(@Model.PostId)">
                            Comment</a></span> <span><a class="links"  onclick="PostLike(@Model.PostId, this)">Like</a></span>
                            <span><a class="links">More</a></span> </span></span>
                </div>
            </div>
        </div>
        <div class="post-comments-container block-inline">
            <div class="comment-pointer">
                <span class="comment-pointer-icon icon-inline"></span>
            </div>
            <div id="postLike-@Model.PostId">
            </div>
            <div id="postShowComment-@Model.PostId">
            </div>
            <div class="post-comments-body">
                <div class="post-comment-list">
                    <ol class="postCurrentComment-@Model.PostId comment-ol">
                    </ol>
                </div>
            </div>
            <div class="post-comment">
                <input type="text" name="postCommentBox-@Model.PostId" id="postCommentBox-@Model.PostId" class="post-comment-box" value="Write a comment..." onfocus="CommentBoxFocus(this.id)" onblur="CommentBoxOnBlur(this)" onkeypress="EnterKeyCommentSubmit(this.id, @Model.PostId, this.value, event)"   />
                <input type="hidden" name="pComIdHd" id="pComIdHd-@Model.PostId" value="" />
            </div>
        </div>
    </li>
}
