@model PostSample.Models.Post
@using PostSample.Helpers
@if (Model != null)
{
    <li id="post-@Model.PostId" class="post-item">
        <div class="post-container block-inline">
            <div class="post-img">
                <img src="../../Content/images/profile.png" class="poster-image" alt="image" />
            </div>
            <div class="post-content-body">
                <div class="content">
                    <div class="block-list">
                        <a class="user-name links" href="#">@Model.User.FullName</a>
                    </div>
                    <div class="block-list word-break">
                        <div class="poll-content">
                            <span class="post-poll-img">&nbsp;</span><span class="word-break poll-text">@Model.Content</span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="post-poll-answer-items">
                        <div id="postPollRslt-@Model.PostId">
                            <ul class="poll-answer">
                                @foreach (var itemPostPollAnswer in Model.PollPost.PollAnswers.ToList())
                                {
                                    <li>
                                        <div class="block-list">
                                            <span class="poll-answer-rdo-list">
                                                <input type="radio" name="pollAnswerRedioBtn" id="pollAnswerRedioBtn-@itemPostPollAnswer.Id" class="poll-answer-rdo" value="@itemPostPollAnswer.Id" />
                                                <label class="poll-answer-label" for="pollAnswerRedioBtn-@itemPostPollAnswer.Id">@itemPostPollAnswer.AnswerContent
                                                </label>
                                            </span>
                                        </div>
                                    </li>
                                }
                            </ul>
                            <div class="poll-options">
                                <div class="poll-vote-btn">
                                    <input type="button" name="pollVote" id="pollVote-@Model.PollPost.Id" class="poll-vote-button" onclick="PollVote('pollAnswerRedioBtn', @Model.PollPost.Id, @Model.PostId)" value="Vote" />
                                </div>
                                <div class="poll-go-result">
                                    <span class="poll-count">@Model.PollPost.TotalVote total votes </span><span class="poll-action">
                                        <a class="links" onclick="PollResultReload(@Model.PostId, @Model.PollPost.Id)">Go to
                                            results</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <span class="content-time">@Model.CreatedDate.ToString("dd MMMM, yyyy") at @Model.CreatedDate.ToString("hh:mm tt")</span><span
                        class="content-links"><span class="content-action"> <span><a class="links" onclick="CommentLinkFocus(@Model.PostId)">
                            Comment</a></span> <span><a class="links"  onclick="PostLike(@Model.PostId, this)">Like</a></span>
                            <span><a class="links">More</a></span> </span></span>
                </div>
            </div>
        </div>
        <div class="post-comments-container block-inline">
            <div class="comment-pointer">
                <span class="comment-pointer-icon icon-inline"></span>
            </div>
            <div id="postLike-@Model.PostId">
            </div>
            <div id="postShowComment-@Model.PostId">
            </div>
            <div class="post-comments-body">
                <div class="post-comment-list">
                    <ol class="postCurrentComment-@Model.PostId
                        comment-ol">
                    </ol>
                </div>
            </div>
            <div class="post-comment">
                <input type="text" name="postCommentBox-@Model.PostId"
                        id="postCommentBox-@Model.PostId" class="post-comment-box" value="Write a comment..."
                        onfocus="CommentBoxFocus(this.id)" onblur="CommentBoxOnBlur(this)" onkeypress="EnterKeyCommentSubmit(this.id,
                        @Model.PostId, this.value, event)" />
                        <input type="hidden" name="pComIdHd" id="pComIdHd-@Model.PostId" value="" />
            </div>
        </div>
    </li>
    
}
